body{
  margin-top:0px;
  margin-left: 0px;
}

.display-title.in-view{
  /* transform: none; */
  visibility: visible;
  opacity: 1;
}

.display-title {
  visibility: hidden;
  /* transform: translate3d(200px, 0, 0); */
  opacity: 0;
  transition: all .5s ease-in-out;
}
/* ----------------- */
/* Loader */
/* ----------------- */



#loading {
  background: #282828;
  margin:0;
  width: 100%;
  height: 100vh;
  z-index:99999;
  position:fixed;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFAB00;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #656668;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}



@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


body p,h1,h2,span,a{
  font-family: 'Montserrat', sans-serif;
}

/* Add animation to "page content" */
.animate-bottom {
  /* position: relative; */
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


/* ---------------------- */
/* Menu-accueil */
/* ---------------------- */

.header .header-logo-home{
  float: left;
  margin-left: 40px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.header .header-menu-home ul{
  display:flex;
  margin:0;
  padding: 0;
  /* max-width: 600px; */
  /* justify-content: space-between; */
}

.header .header-menu-home li{
  list-style-type: none;

}


.header .header-menu-home a{
  color: #222222;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-right: 30px;
  padding-bottom: 10px;
  transition: all 0.2s ease;
  border-bottom: 1px dotted rgba(0,0,0,0);
}

.header .header-menu-home{
  font-family: 'Montserrat', sans-serif;
  float: right;
  font-size: 1em;
  margin-right: 30px;
}

.header .header-menu-home a:not(:last-child){
  margin-right: 25px;
}

.header .header-menu-home a:hover{
  border-bottom: 2px dotted #FFAB00;
}

.header .header-menu-home .active{
color: #FFAB00;
}

/* ---------------------- */
/* Menu */
/* ---------------------- */
.header{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: 80px;
    height: 110px;
    background-color: rgba(0,0,0,0);
    position: fixed;
    z-index: 999;
}

.scrolled {
  background-color: #222222;
  line-height: 65px;
  height: 65px;
  color:white;
  animation: fadeInMenu 1.4s;
  /*animation-fill-mode: both*/
}

@keyframes fadeInMenu {
  0% {
    opacity:0
  }
  99% {
    opacity:1
  }
}

.scrolled a{
  color : white !important;
  transition : none !important;
  border-bottom: none !important;
}
.scrolled a:hover{
  color : #FFAB00 !important;
  border-bottom: none !important;
}


.scrolled #logoImgHeader{
  margin-left: 50px;
  margin-top: 0px;

  width: 65px;
  height: 65px;
  width:"100";
  height:"100";
}

hr.divider{
  background-color :#FFAB00;
  height: 5px;
  width: 100px;
}

.header .header-menu{
    font-family: 'Montserrat', sans-serif;
    float: right;
    font-size: 1em;
    margin-right: 30px;
}

.header .header-menu a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    font-size: 1.1em;
}

.header .header-menu a:not(:last-child){
    margin-right: 25px;
}

.header .header-menu a:hover{
    color: #FFAB00;
    opacity: 1;
}

.header .header-menu .active{
  color: #FFAB00;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('../img/foret.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


/* --------------------- */
/* About-Home */
/* ----------------------- */

.home-ancre{
  height: 100vh;
}

.banner{
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.banner .banner-content{
    color: white;
    position: absolute;
    text-align: center;
    line-height: 50px;
} 

.banner .banner-content h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.3em;
    opacity: 0.9;
    
} 

.banner .btn{

    border: solid 1px white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.banner .btn:hover{
  background-color: #FFAB00;
  border-color: #FFAB00;
  color: white;
}



/* ------------------ */
/* About-Content */
/* ------------------ */

.display-move.in-view{
  transform: none;
  visibility: visible;
  opacity: 1;
}

.display-move {
  visibility: hidden;
  transform: translate3d(200px, 0, 0);
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
#about-ancre{
  background-color: #f9f9f9 ;
    height: 500px;
    height: 640px;
}

.about-content{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.about-content .title-about{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: solid #FFAB00;
  width: 30%;
  color: #222222;
  padding-bottom: 15px;
}

.about-content .title-about h1{
  font-size: 2.5em;
  margin-bottom: 0px;
}

.about-content .container-about{
  display: flex;
  align-items: center;
}


.about-content  .container-about .text-content {
  /* text-align: center; */
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  /* margin-left: 250px; */
}

.about-content  .container-about .text {
  /* text-align: center; */
  
  /* margin-left: 250px; */
  font-size: 1.1em;
  width: 80%;
}

.about-content  .container-about .plus {
  margin-top: 30px;
  display:flex;
  align-items: center;
  align-items: flex-end;
  width: 80%;
}

.about-content  .container-about .cv {
  padding: 7px 25px 7px 25px;
  border:2px solid rgb(210,210,210);
  text-align: center;
  display: block;
}

.about-content  .container-about .cv:hover{
  border-color: #FFAB00;
  background-color: #FFAB00;
  color:white;
}



.about-content .about{
  display: flex;
  margin-top: 30px;
  height: 350px;
  max-width: 100%;
}

.about-content .about .container-picture {
  display: flex;
  justify-content: center;
  width: 100%;

}

.about-content .about .container-picture .picture img{
  border-radius : 100px;

}



/* ––––––––––––––––––––––––––––––––––––––––––––––––––  */
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline p{
  font-style: italic;
  font-size: 0.9em;
}
.timeline{
  background: white;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  height: 1800px;

}
.title-timeline{
  display:flex;
  justify-content: center;
  padding-top : 60px;
}

.title-timeline .title{
  text-align: center;
  color: #222222;
  margin-bottom: 50px;
  border-bottom: solid #FFAB00;
  width: 45%;
  padding-bottom: 15px;
}


.timeline ul {
  padding: 30px 0;
  margin-bottom: 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(210,210,210);
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: white;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent white; 
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent white;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFAB00;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.timeline ul li.in-view::after {
  background: white !important;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  transition: inherit ;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}




/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #007bff; 
  }
}

/* ----------------------- */
/* Projects */
/* ----------------------- */
#projects-ancre{
  background-color:#f9f9f9; 
  height: 680px;
}
.display-projects.in-view{
  transform: none;
  visibility: visible;
  opacity: 1;
}

.display-projects {
  visibility: hidden;
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
  transition: all .5s ease-in-out;
}

.display-buttons.in-view{
  visibility: visible;
  opacity: 1;
}

.display-buttons {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.projects-content .title-projects{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  border-bottom: solid #FFAB00;
  width: 30%;
  color: #222222;
  padding-bottom: 15px;
}


.projects-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 1060px;
}

.projects-content .projects-container {
  width: 100%;
}


.projects-content .projects-container .list-projects #group .btn{
    border: solid 2px rgb(210,210,210);
    color: black;
    font-family: 'Montserrat', sans-serif;

}

.projects-content .projects-container .list-projects #group .btn.active{
  background-color: #FFAB00;
  border-color: #FFAB00;
  color:white;

}

.projects-content .projects-container .list-projects #group .btn:hover{
  background-color: #FFAB00;
  border-color: #FFAB00;
  color:white;
}

.projects-content .projects-container .list-projects{
  display: flex;
  text-align: center;
  text-decoration: none;
  width: 100%;
} 


.projects-content .projects-container .list-projects #group{
  width: 100%;
  text-align: center;
}

.projects-photo {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 60%;
}

.projects {
  display: flex;
  justify-content: center;
  width: 100%;
}

.filterDiv {
  margin-left: 50px;
  display: none; /* Hidden by default */
  position: relative;
  cursor: pointer;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


.filterDiv .image {
  display: block;
  filter:  grayscale(60%);
  /* transition: .5s ease;
  backface-visibility: hidden; */
}

.filterDiv .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(14, 14, 14, 0.8); /* Black see-through */
 height: 100%;
  width: 100%;
  transition: 1s ease-out;
  opacity:0;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 5px;
}

/* When you mouse over the container, fade in the overlay title */
.filterDiv:hover .overlay {
  opacity: 1;
}

.filterDiv .overlay h3{
  padding-top: 25px;
  padding-bottom: 35px;
}
.filterDiv .overlay p{
  font-size: 0.8em;
}

/* ----------------------- */
/* Modale projects */
/* ----------------------- */
.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.opened:before {
  display: block;
}

.btn-close {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.btn-close:hover {
  color: #FFAB00 !important;
}
.projects .modale .modale-container{
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;
  margin-left: -700px;
  text-align:center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 1460px;
  height: auto;
  box-shadow:0 5px 10px rgba(0,0,0,0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;

}

.projects .modale.opened .modale-container{

  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 10%;
}

.projects .modale.opened .modale-container h3{
  
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FFAB00;
}

.projects .modale.opened .modale-container .text{
  display:flex;
  justify-content: center;
}

.projects .modale.opened .modale-container .text .text-content{

 width: 80%;
}



/* ----------------------- */
/* Hobbies */
/* ----------------------- */


.hobbies-content .title-hobbies{
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
  border-bottom: solid #FFAB00;
  width: 30%;
  color: #222222;
  padding-bottom: 15px;
}


.hobbies-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  
}
.hobbies-content .hobbies-container{
  width: 60%;
  padding-top: 50px;
}
.hobbies-content .hobbies-container .hobbies{
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
}









/* ------------ */
/* Footer */
/* ------------ */

.footer{
  height: 150px;
  background-color: #222222;
  color: white;
  text-align: center;


}

.footer .rights{
  padding-top: 35px;
}

.footer #name{
  color: #FFAB00;
  text-decoration: none;
}

.footer #name:hover{
  color:white;
}

.footer .citation{
  opacity: 0.6;
  color: #BDBDBD;
}




